auto
_minted-julmy_pa_1617
julmy_pa_1617.vrb
julmy_pa_1617.aux
julmy_pa_1617.fdb_latexmk
julmy_pa_1617.fls
julmy_pa_1617.log
julmy_pa_1617.nav
julmy_pa_1617.out
julmy_pa_1617.pdf
julmy_pa_1617.snm
julmy_pa_1617.synctex.gz
julmy_pa_1617.toc
